.header {
    flex: 0 0 20%;
    max-height: 20vh; 
    overflow: hidden;
    background-color:grey;
}
.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu a {
    padding: 15px 20px;
    color: lightorange;
    text-decoration: none;
}

.menu a:hover { 
    background-color: lightgrey;
    color: black;
}

.container{
  display: flex;
  flex-direction:column;
  height: 100vh;
}
.menu{
  flex: 5%;
  background-color:tomato;
  color: blue;
  display: flex;
}
.content{
  flex: 65%;
  background-color:lightpink;
}
.content iframe {
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
}
.footer{
  flex:10%;
  background-color:tomato;
}
h1{
  color:red;
  text-align:center;
}
td{
  text-align:center;
}
.tieude {
  color:tomato;
  font-size:25pt;
  top-margin:18pt;
  padding:10px;
}
.noidung{
  color: blue;
  font-size:15pt;
  top-margin:6pt;
  padding:10px;
}
.titlelist {
 color: blue;
  font-size: 17pt;
  font-weight: bold;
}
